<form action="/edit-car/{{car._id}}" method="post">
    <input type="text" name="manufacturer" value="{{car.manufacturer}}"><br>
    <input type="text" name="model" value="{{car.model}}"><br>
    <input type="number" name="year" value="{{car.year}}"><br>
    <input type="submit" class="btn">
</form>

<form action="/delete-car/{{car._id}}" method="post">
    <input type="submit" class="btn delete-btn" value="Ta bort">
</form>